<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/Christoph142/Documents" defaultlocale="en" version="2.0.2">

	<name>Documents</name>
	<author href="http://my.opera.com/christoph142/blog">Christoph D.</author>
	<icon src="images/icon.png"/>
	
	<description xml:lang="de">Viewer für Online-Dokumente (z.B. PDF, MS Word)</description>
	<description xml:lang="en">Viewer for online documents (e.g. PDF, MS Word)</description>
    <description xml:lang="fr">Viewer pour les documents onlines (p.e. PDF, MS Word)</description>
    <description xml:lang="pl">Przeglądarka dokumentów (np. PDF, MS Word) prosto z Sieci</description>
	<description xml:lang="tr">Çevrimiçi belgeler için görüntüleyici (örn. PDF, MS Word)</description>
	
	<feature name="opera:contextmenus" required="false"/>
	
	<preference name="lang" value="auto" />
	<preference name="wanted_docs" value="pdf|doc[x]?|xls[x]?|ppt[x]?|od(t|s)|pages|ai|psd|tiff|dxf|svg|[e]?ps|(o|t)tf|xps" />
	<preference name="extended_docs" value="" />
	<preference name="rightclick_docs" value="pdf|doc[x]?|xls[x]?|ppt[x]?|od(t|s)|pages|ai|psd|tiff|dxf|svg|[e]?ps|(o|t)tf|xps" />

</widget>