html		{ background:#f1f6f0; }
a			{ text-decoration:none; color:#001; border-radius:5px; padding:5px; background-color:#7AF; }
body		{ font:13px/24px "helvetica neue",arial,sans-serif; cursor:default; max-width:900px; overflow-x:hidden;
  			  color:#1e3853; background:rgba(255,255,255,0.9); margin:15px auto; box-shadow:0 0 10px #98b0c9; }
.invis		{ opacity:0; height:0px; overflow:hidden; -o-transition-duration:500ms; }
.vis		{ opacity:1; height:250px; overflow:hidden; -o-transition-duration:500ms; }
.active		{ color:#3C0; }
.inactive	{ color:#A11; }
header		{ display:block; text-align:center; padding:25px 50px 10px 50px; margin:0 50px;
			  border-bottom:1px solid rgba(0,0,0,0.15); box-shadow:0 1px #fff; }
section 	{ display:block; padding:0 50px; }		
footer		{ display:block; text-align:center; padding:0 50px; margin:30px 50px 0 50px;
			  border-top:1px solid #fff; box-shadow:0 -1px rgba(0,0,0,0.15); }		
h1			{ margin:0px; margin-bottom:-10px; font-size:24px; }
h3			{ margin-bottom:5px; }
fieldset	{ border:none; background:rgba(150,160,200,0.25); border-radius:2px; padding:10px 20px; }

input[type=radio][value="0"]{ background-color:#FF643E; border:1px solid rgba(0,0,0,0); border-radius:10px; }
input[type=radio][value="1"]{ background-color:#CF0; border:1px solid rgba(0,0,0,0); border-radius:10px; }
input[type=radio][value="2"]{ background-color:#94DF40; border:1px solid rgba(0,0,0,0); border-radius:10px; }

#multicol	{ columns:260px; }

#lang_container	{ height:0px; width:100%; overflow:visible; text-align:right;}
#lang img	{ width:50px; cursor:pointer; box-shadow:0px 0px 4px #98b0c9; -o-transition:200ms; }
#lang img:hover{ box-shadow:0px 0px 4px #335341; -o-transform:scale(1.1,1.1); }

#lang		{ overflow:hidden; -o-transition:300ms; padding:30px 50px;}
.done		{ height:2px; } /* 2px + 30 padding = flag height */
.choose		{ height:400px; }